.container {
    width: 100%;
    height: 685px;
    background: url("../assets/images/about-bg.jpg") no-repeat center/cover;
}

.main-body {
    margin: 60px 20px;
}

.main-body h2 {
    color: #000000;
    margin: 10px 0 40px 30px;
    font-size: 26px;
}

.main-body p {
    font-size: 20px;
    text-align: justify;
    margin: 0 20px;
    line-height: 35px;
}