.container {
    width: 100%;
    height: 685px;
    background: url("../assets/images/contact-bg.jpg") no-repeat center/cover;
}

.main-body {
    margin: 45px 25px;
    color: antiquewhite;
}

.main-body h2 {
    font-size: 28px;
    margin: 0 0 30px 40px;
    color: aliceblue;
}

.main-body p {
    margin: 10px 250px 35px 0;
    font-size: 20px;
    text-align: justify;
    line-height: 25px;
}

.main-body div {
    margin: 25px 10px;
    font-size: 18px;
}

.main-body a {
    color: azure;
}