.container {
    width: 100%;
    height: 685px;
    background: url("../assets/images/education-bg.jpg") no-repeat center/cover;
}

.main-body {
    margin: 20px;
}

.main-body h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
}

.main-body h3 {
    font-size: 22px;
    margin: 20px 0 10px 0;
    color: rgb(200, 200, 199);
}

.main-body p {
    font-size: 18px;
    margin-left: 40px;
    color: rgb(193, 192, 192);
}