.container {
    width: 100%;
    height: 685px;
    background: #feeaea;
}

.container .main-body {
    margin: 20px 0 0 20px;
}

.main-body h2 {
    font-size: 26px;
    margin: 0 0 20px 30px;
}

.main-body h3 {
    font-size: 22px;
    color: #312e2e;
    margin: 25px 0 15px 0;
}

.main-body strong {
    font-size: 18px;
    color: #3b3939;
}

.main-body p {
    margin-left: 35px;
}

.description {
    text-align: justify;
    margin-right: 56px;
}

.main-body a {
    /* margin-left: 35px; */
    color: rgb(148, 171, 247);
}