.container {
    width: 100%;
    height: 675px;
    background: url("../assets/images/skill-bg.jpg") no-repeat center/cover;
    color: #fdd7d7;
}

.nav ul {
    background: #fee4e4;
}

.nav ul a {
    color: #0d1117;
}

.main-body {
    margin: 20px 0 0 30px;
}

li {
    margin-left: 40px;
}

.main-body h2 {
    color: rgb(171, 213, 252);
    font-size: 26px;
    margin: 0 0 20px 30px;
}

.main-body h3 {
    margin: 15px 0 5px 0;
    color: blanchedalmond;
}