* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav */
.nav ul {
    list-style: none;
    display: flex;
    background: #0d1117;
}

.nav ul a {
    text-decoration: none;
    color: #e6edf3;
}

.nav ul li {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 15px 20px;
}

.nav ul a:hover {
    color: #2f81f7;
    border-bottom: rgba(255, 255, 255, 0.05);
}

.nav ul a:active {
    color: #f7c82f;
}

/* Footer */
footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 14px;
    padding: 15px 20px;
    margin-bottom: 0;
    align-items: center;
}

/* Media Quries */
@media (max-width : 700px) {}