* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'segoe UI', Tohoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-family: 'Montserrat semi-bold';
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #ffc074;
    color: #000;
    margin: 10px auto;
}

.btn:hover {
    opacity: 0.8;
    transition: 0.2s ease;
}

.special {
    background-color: #303030;
    color: #f1f1f1;
}

.buy-now {
    background-color: #e18ace;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

a {
    color: #262626;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #262626;
}

ul {
    list-style: none;
}

.container {
    width: 95%;
    margin: auto;
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 20px 0;
    margin-bottom: 30px;
    font-size: 13px;
}

.main-nav .logo {
    width: 80px;
    height: 60px;
    margin-top: 20px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 20px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li img {
    cursor: pointer;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

/* Best Deals */
.deals {
    width: 100%;
    height: 450px;
    background: url("../assets/img/banner.webp") no-repeat center/cover;
    padding-left: 10px;
    margin-bottom: 10px;
}

.deals h2 {
    color: #000;
    padding: 300px 0px 10px 0px;
}

.deals p {
    color: #000;
}

.deals .special {
    margin: 20px 0 0 20px;
}

/* catagory */
.category {
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 10px;
    background: #eebcbf;
}

.category div a {
    display: flex;
    padding: 0 30px;
}

/* Cards */
.cards h3 {
    background-color: #e68686;
    color: #222;
    font-family: 'Montserrat';
    width: 100%;
    height: 40px;
    margin: 20px 0 20px 0;
    padding: 5px 0;
    letter-spacing: 1px;
    font-weight: 600px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.card {
    width: 90%;
    height: 60%;
    margin-bottom: 10px;
}

.cards .electonic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.electonic div {
    text-align: center;
}

.cards .fashion-lifestyle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.fashion-lifestyle div {
    text-align: center;
}

.cards .home-living {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.home-living div {
    text-align: center;
}

/* Folow Us */
.follow {
    display: flex;
    margin: 20px 10px;
}

.follow a {
    padding: 0 10px;
}

.follow img {
    width: 22px;
    height: 22px;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    margin-bottom: 20px;
    background: #f2f2f2;
    color: #616161;
}

.footer ul {
    padding-bottom: 20px;
}

/* Media Quries */
@media (max-width : 700px) {
    .main-nav ul li {
        padding: 0 7px;
    }

    .category div a {
        padding: 0 10px;
    }
}

@media (max-width : 500px) {
    .main-nav ul li {
        padding: 0 5px;
    }
}

@media (min-width : 800px) {
    .deals {
        height: 470px;
        margin-bottom: 20px;
    }

    .deals h2 {
        padding: 300px 0px 10px 20px;
    }

    .deals p {
        padding-left: 20px;
    }

    .special {
        font-size: 18px;
        margin: 20px 0 0 25px;
    }

    .main-nav .logo {
        width: 90px;
        height: 70px;
        margin-top: 25px;
    }

    .price {
        font-size: 20px;
    }

    .info {
        font-size: 17px;
    }

    .main-nav {
        font-size: 15px;
    }

    .category {
        font-size: 15px;
    }

    .cards h3 {
        font-size: 15px;
    }

    .footer {
        font-size: 15px;
    }
}

@media (min-width : 900px) {
    .deals {
        height: 530px;
    }

    .deals h2 {
        padding: 350px 0px 10px 20px;
    }

    .deals p {
        padding-left: 20px;
    }

    .special {
        font-size: 18px;
        margin: 25px 0 0 30px;
    }

    .main-nav {
        font-size: 15px;
    }

    .btn {
        font-size: 18px;
    }

    .price {
        font-size: 23px;
    }

    .info {
        font-size: 19px;
    }

    .category {
        font-size: 19px;
    }

    .cards h3 {
        font-size: 19px;
    }

    .footer {
        font-size: 19px;
    }
}

@media (min-width : 1000px) {
    .main-nav ul li {
        padding: 0 30px;
    }

    .deals {
        height: 600px;
    }

    .deals h2 {
        padding: 400px 0px 10px 20px;
    }

    .deals p {
        padding-left: 20px;
    }

    .special {
        font-size: 18px;
        margin: 50px 0 0 30px;
    }

    .category div a {
        padding: 0 40px;
        margin-left: 20px;
    }
}

@media (min-width : 1100px) {
    .deals {
        height: 660px;
    }

    .deals h2 {
        font-size: 30px;
        padding: 450px 0px 10px 20px;
    }

    .deals p {
        font-size: 20px;
        padding-left: 20px;
    }

    .special {
        font-size: 20px;
        margin: 70px 0 0 50px;
    }
}